@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300i,400,400i,600,700');
body{
	font-family: 'Titillium Web', sans-serif;
	background: #dddddd;
}
.heading{
	background: #111111;
    height: 76px;
}
.heading .dropDownButton{
    font-size: 0.7rem;
    height: 26px;
    font-weight: bold;
    color: white;
    background: #333333;
    border: none;
    focus:none;

}
.heading .giveHeight{
	height: 76px;
}
.heading .widthDropdown{
	width: 85%;
}
#value1{
	float:left;
	display: inline-block;
}
.dropdown .dropdown-toggle{
	text-align: right;
}
.dropdown-menu {
  
    min-width: 8.5rem;
    background-color: #333333;
    color: white;
    cursor: pointer;
   
}
.dropdown-item {
	color: white;
	font-size: 0.7rem;
	font-weight: bold;

}
.dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: #48489c;
}
.btn{
	cursor: pointer;
	border: none;
}
.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: white;
    background-color: #333333;
    background-image: none;
    border: none;
    outline: none;
    focus:none;
}
.btn-secondary.focus, .btn-secondary:focus{
	box-shadow: none;
}
.heading .box1{
	background: #333333;
    padding: 10% 5%;
    border-radius: 4px;
    height: 56px;
    border:1px solid transparent;
}
.heading .box1:hover{
		border:1px solid red;
	}
.heading .textStyle1{
    font-size: 0.6rem;
    line-height: 0.1rem;
    font-weight: bold;
}
@media only screen and (min-width: 1500px){
	.heading{
	background: #111111;
    height: 75px;
}
	.heading .giveHeight{
	height: 75px;
}
	.heading .box1{
	background: #333333;
    padding: 10% 5%;
    border-radius: 4px;
    height: 63px;
}

}
.heading .styleNumber{
	font-size: 0.6rem;
    line-height: 0.1rem;
    font-weight: bold;
    float: right;
}
.heading .textStyle2{
    font-size: 0.7rem;
    line-height: 0.1rem;
    color: #888;
    margin-top: -4%;
}
.heading .addPosition{
	position: relative;
}

.carousel-control-next{
	left:90%;
	 background: #111;
	 opacity: 1;
	 width:10%;
  	box-shadow: -4px -3px 6px 1px #111;

}
.carousel-control-prev{
    left: -38px;
    background: #111;
    box-shadow: 2px 1px 1px 2px #111;
    opacity: 1;
    width: 9%;
	 visibility: hidden;
}
.carousel-control-prev:hover{
	opacity: 1;
}
.carousel-control-next:hover{
	opacity: 1;
}
.carousel-control-prev:hover {
	opacity: 1;
}
.carousel-control-prev:hover .iconLeft{
	color: #fe074e;
}
.heading .iconRight{
	font-size: 2.5rem;
}
.carousel-control-next:hover .iconRight{
	color: #fe074e;
}
.heading .iconLeft{
	font-size: 2.5rem;
}
.heading .icon1{
	cursor: pointer;
}
.heading .icon1:hover{
	color:red;
}

/*.heading .overflow{
	overflow: hidden;
}*/
#header {
	background: white;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	height: 105px;
	position: relative;
}
#header .color{
	font-size: 10px;
	color: #333333;
	font-weight: 600;
}
#header .hoverIcon:hover {
	color:#fe074e !important;
	cursor: pointer;
}
#header .giveBorder{
	border-bottom: 1px solid #888;
}
#header .size{
	font-size: 24px;
}
#header .textStyle1{
	font-size: 16px;
	font-weight: bold;
}
#header .dropdownMenu{
	position: relative;
/*	transition: all .5s linear;
*/    height: 38px;

}
#header .dropdownMenu:hover{
		color: #fe074e;
	    border-bottom: 1px solid #fe074e;
}
#header .dropdownMenu2{
    height: 37px;

}
#header .dropdownMenu2:hover{
		color: #fe074e;
	    border-bottom: 1px solid #fe074e;
}
#header .childMenu{
	position: absolute;
	top:100%;
	left:0;
	background: #fff;
	min-height: 100px;
	z-index: 5000000000;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	width: 200px;
	transition: all .5s linear;
	visibility: hidden;
}
#header .dropdownMenu:hover .childMenu{
		animation: xx 0.5s linear;
		animation-fill-mode: forwards;
		/*display: block;*/
	}
	@keyframes xx{
		0%{
			visibility: visible;
			top:60%;
		}
		100%{
			visibility: visible;
			top:105%;
		}
	}
#header .styleText{
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	width: 169px;
    height: 5%;

}
#header .box1{
    height: 38px;
	border-bottom: 1px solid  rgba(0,0,0,.1);
	
}
#header .box2{
    height: 38px;
	/*border-bottom: 1px solid #888;*/
}
#header .icon2{
	float: right;
}
#header .box1:hover{
   background: rgba(0,0,0,.1);
   cursor: pointer;
}
#header .box2:hover{
      background: rgba(0,0,0,.1);
		cursor: pointer;
}
#header .position{
	position: relative;
}
#header .secondMenu{
	position: absolute;
	top: 0%;
	left: 100%;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	min-height: 100px;
	z-index: 5000000000;
	width: 200px;
	visibility: hidden;
	background: white;

}
#header .boxSide{
    height: 38px;
	border-bottom: 1px solid  rgba(0,0,0,.1);
}
#header .boxSide:hover{
   background: rgba(0,0,0,.1);
   cursor: pointer;
}
#header .thirdMenu{
	position: absolute;
	top: 0%;
	left: 100%;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	min-height: 100px;
	z-index: 5000000000;
	width: 200px;
	display: none;
	background: white;

}
#header .forthMenu{
	position: absolute;
	top: 0%;
	left: 100%;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	min-height: 100px;
	z-index: 5000000000;
	width: 200px;
	display: none;
	background: white;

}
#header .toHover:hover .secondMenu{
	visibility: visible;
}
#header .toHover3:hover .thirdMenu{
	display: block;
}
#header .toHover4:hover .forthMenu{
	display: block;
}

#header .textStyle3{
	font-weight: bold;
	color: #333333;
	font-size:15px; 
}
#header .football{
	width: 100%;
	position: absolute;
	top: 100%;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	visibility: hidden;
	background: white;
	z-index: 500000000000000;

}
#header .img{
	width: 16%;
}
.card{
	border:none;
}
.card-block {
    padding: 0.50rem 0rem;
}
#header .textStyle3:hover{
	color: #fe074e;
	cursor: pointer;
}
 .card:hover  .card-block .textStyle3{
	color: #fe074e !important;
}
.mainImage{
	cursor: pointer;
}
/*header .dropdownMenu2:hover ~  .football{
	visibility: visible;
}*/
.animate{
	animation: animate .5s linear;
}
@keyframes animate{
		0%{
			top:80%;
		}
		100%{
			top:100%;
		}
	}
	#header .baseball{
	width: 100%;
	position: absolute;
	top: 100%;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	visibility: hidden;
	background: white;
	z-index: 500000000000000;

}
#header .soccer{
	width: 100%;
	position: absolute;
	top: 100%;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
	visibility: hidden;
	background: white;
	z-index: 500000000000000;

}
.border {
	border-bottom:1px solid #fe074e
}
#header .dropdownMenu3{

	   height: 37px;

}
#header .dropdownMenu4{

	   height: 37px;

}
.search{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.94);
	height: 100%;
	width: 100%;
	z-index: 10000000000000000000000000000000;
	display: none;
}
.search .search1{
	background: transparent;
	border:none;
	border-bottom: 1px solid #333333;
	outline: none;
	font-size: 60px;
	color: #333333;

}
.close1
{
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.sideMenu{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 30%;
	height: 100%;
	background: white;
	z-index: 1000000000000000000000000;
	overflow-y: scroll;
	display: none;
}
.background{
			background: transparent;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
}
.background .styleText{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 3%;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.background .styleText1{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 3%;
}
.border1{
	border-bottom: 1px solid rgba(0,0,0,.1);

}
.background .icon{
	float: right;
	cursor: pointer;
	color: #333333;
}
.background .adjustDiv{
	width: 96%;
    padding-left: 10%;
}
#iconMinus{
	display: none;
}
.background .adjustDiv1{
	width: 100%;
    padding-left: 10%;
}
#iconMinus1{
	display: none;
}
.background .styleText:hover{
	color: #fe074e;
	cursor: pointer;
}
#iconMinus2{
	display: none;
}
#iconMinus3{
	display: none;
}
#iconMinus4{
	display: none;
}
.styleONe{
	font-size: 10px;
	color:#333333;
}
.wrapper{
	border-radius: 100%;
	background: #333333;
	height: 30px;
	width:30px;
	transition:all 0.5s linear;
}

.fa{
	font-size: 10;
}
.iconFace{
	color: white;
	font-size: 13px !important;
}
.wrapper:hover{
	background: white;
	outline: #333333;
	border: 2px solid #333333;
	color: #333333;
	cursor: pointer;
}
.wrapper:hover .iconFace{
	color:#333333;
}
::-webkit-scrollbar {
    width: 5px;
	background: transparent;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(136, 136, 136);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-moz-scrollbar {
    width: 5px;
	background: transparent;
}
 
::-moz-scrollbar-track {
    background: transparent;
}
 
::-moz-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(136, 136, 136);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
.close2
{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    right: 1%;
    cursor: pointer;
    top: -8px;
    z-index: 100000000000000000000000000;
}
.mainNews .backgroundImage{
    background: url(../images/rugbyMain.jpg);
    background-size: cover;
    height: 520px;
    background-repeat: no-repeat;
    position: relative;
}
.mainNews .tag{
	color: white;
	font-size: 11px;
	font-weight: bold;
	line-height: 19px;
}
.mainNews .wrapper1{
   height: 19px;
    background: red;
    width: 79px;
    border-radius: unset;
    text-align: center
}
.mainNews .textStyle {
	color: white;
	font-size: 35px;
	font-weight: bold;
}
.mainNews .textStyle1{
	color: white;
	font-size: 16px;
}
.mainNews .backgroundImage2{
	    background: url(../images/mainRugby2.jpg);
     background-size: cover; 
    background-repeat: no-repeat;
    height: 260px;
    position: relative;
}
.mainNews .textStyle2 {
	color: white;
	font-size: 21px;
	font-weight: bold;
}
.mainNews .backgroundImage3{
	    background: url(../images/baseballMain.jpg);
     background-size: cover; 
    background-repeat: no-repeat;
    height: 260px;
    position: relative;
}
.mainNews .text-block{
	    z-index: 5;

}
.mainNews .backgroundImage:hover .layer{
		background:linear-gradient(transparent,rgba(8,7,7,0.9));
}
.mainNews .backgroundImage2:hover .layer{
		background:linear-gradient(transparent,rgba(8,7,7,0.9));
}
.mainNews .backgroundImage3:hover .layer{
		background:linear-gradient(transparent,rgba(8,7,7,0.9));
}
.mainNews .layer{
	 background:linear-gradient(transparent,rgba(8,7,7,0.8));
	 position: absolute;
	 height: 30%;
	 width:100%;
	 top:70%;
	 left:0;
	 z-index: 1;
}
.mainImage{
	position: relative;	
}
.mainImage .wrapper1{
    position: absolute;
    left: 0;
    top: 80%;
    width: 28px;
    background: #fe074e;
    text-align: center;
}
.mainImage .cam{
	color: white;
	font-size: 13px;
}
.mainImage .cam1{
	color: white;
	font-size: 15px;
}
#soccer .adjustContainer{
	    background: white;
   		 padding-top: 2%;
}
#soccer .style {
	font-size: 17px;
	font-weight: bold;
	color: #111111;
    margin-bottom: -0.1rem;
    line-height: 14px;
    border-bottom: 1px solid #fe074e;
    padding-bottom: 13px;
    width: 41%;
}
#soccer .adjustRow{
	border-bottom: 1px solid  rgba(0,0,0,0.2);
    margin-bottom: 1%;
    width: 100%;
    margin-left: 0%;
}
#soccer .wrapper1{
	 position: absolute;
    left: 0;
    top: 84%;
    width: 28px;
    background: #fe074e;
    text-align: center;
}
#soccer .wrapper75{
	 position: absolute;
    left: 0;
    top: 84.5%;
    width: 28px;
    background: #fe074e;
    text-align: center;
}
#soccer .txt {
	font-size: 12px;
	color: #888888;
   	margin-bottom: 0;

}
#soccer .hover:hover {
	color: #fe074e;
	cursor: pointer;
}
#soccer .txt1{
	font-size:1rem;
	font-weight: bold;
	color: #111111;
   	margin-bottom: 1px;
   	cursor: pointer;

}
#soccer .txt1:hover{
	color: #fe074e;
}
#soccer .txt2{
	font-size: 14px;
	font-weight: bold;
	color: #555555;
	margin-bottom: 1px;
}
#soccer .txt3{
	font-size: 12px;
	font-weight: bold;
	color: #555555;

}
#soccer .txt4{
	font-size: 12px;
	font-weight: bold;
	color: #fe074e;

}
#soccer .txt4:hover{
	border-bottom: 1px solid #fe074e;
	cursor: pointer;

}
.txt6{
	color: #fe074e;
	font-weight: bold;
	font-size: 12px;
}

#soccer .adjustIcon{
	    padding-left: 1%;
    	font-weight: bold;
}
#soccer .hoverTxt:hover{
	border-bottom: 1px solid #fe074e;
	cursor: pointer;
}

#media .adjustContainer{
	background: white;
	position: relative;
}
#media .style{
    font-size: 17px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 33px;
}
#media .txtBorder{
	padding-bottom: 1%;
	border-bottom: 1px solid #fe074e;
}
#media  .wrapper3{
   height: 28px;
    background: red;
    width: 37px;
    text-align: center;
    position: absolute;
    top: 86%;
}
#media .wrapper8 {
    height: 28px;
    background: red;
    width: 37px;
    text-align: center;
    position: absolute;
    top: 86%;
}
#media .txt {
	font-size: 14px;
	color: #888888;
   	margin-bottom: 0;

}
#media .hover:hover {
	color: #fe074e;
	cursor: pointer;
}
#media .txt1{
	font-size: 20px;
	font-weight: bold;
	color: #111111;
   	margin-bottom: 1px;
   	cursor: pointer;

}
#media .txt1:hover{
	color: #fe074e;
}
#media .txt2{
	font-size: 16px;
	font-weight: bold;
	color: #555555;
	margin-bottom: 1px;
}
#media .txt3{
	font-size: 14px;
	font-weight: bold;
	color: #555555;

}
#media .txt4{
	font-size: 14px;
	font-weight: bold;
	color: #fe074e;

}
#media .txt4:hover{
	border-bottom: 1px solid #fe074e;
	cursor: pointer;

}
.txt6{
	color: #fe074e;
	font-weight: bold;
	font-size: 12px;
}
#media .imageSize{
	width: 45%;

}
#media .adjustBorder{
	padding-bottom: 4%;
    border-bottom: 1px solid  rgba(0,0,0,0.2);
}
#media .txtStyle{
	font-size: 10px;
	color: #aaaaaa;
}
#media .style109{
	font-size: .65rem;
    color: #aaaaaa;
    letter-spacing: 1px;
}
#media .styleTexts{
	font-size: 12px;
	font-weight: bold;
	color:#111111;
	margin-bottom: 0;
    padding: 14% 0%;
}
#media .color{
	background: #EEEEEE;
    width: 86%;
}
#media .iconStyle{
	color: #fe074e;
}
#media .height{
	height: 50px;
}
#media .individualWrapper{
    height: 116%;
    background: transparent;
    width: 5rem;
    text-align: center;
}
#media .active{
	background: white;
}

#headLines, #trending, #videos{
	cursor: pointer;
}
@media only screen and (min-width: 1500px){
	#soccer .wrapper1{
    top: 83%;
    
}
}
#media .padding{
	padding: 0% 11%;
}
#media  .wrapper101{
    height: 19px;
    background: red;
    width: 20px;
    text-align: center;
    position: absolute;
    top: 70%;
}
#media .imageSize1{
	width: 24%;

}
#media .txt1-modified{
	font-size: 15px;
	font-weight: bold;
	color: #111111;
   	margin-bottom: 1px;
   	cursor: pointer;

}
#media .txt1-modified:hover{
	color: #fe074e;
}
#media .height1{
	    height: 64px;
}
#media .cam1{
	color: white;
	font-size: 10px;
}
#media .styleTxt101{
	font-size: 17px;
	font-weight: bold;
	color: #111111;
	margin-bottom: 0;
	height: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#media .changeStyle{
	    padding-bottom: 6px;
		border-bottom: 1px solid #fe074e;
}
#media .styleImage{
	border-radius: 100%;
}
#media .cam5{
	color: white;
    font-size: 19px;
    padding-top: 14%;
    padding-left: 2%;
}
 .btn-info{
	background-color:transparent;
	border: 1px solid rgba(0,0,0,0.2);
	color: #0077ee;
	font-size: 12px;
	font-weight: 600;
	height: 37px;
}
.btn-info:hover{
	border: 1px solid #0077ee;
	background-color:transparent;
	color: #0077ee;
	font-size: 12px;
	font-weight: 600;
}
.position101{
	position: fixed;
	top: 53%;
    width: 32%;

}
#fix105{
	position: absolute;
	top: 0;
	/*left: 64%;*/
	float: right;
}
#fix105.is_stuck{
	/*left: 64%;*/
	
}
ll{
		right: 10%;

}
footer .adjustHeight{
	    height: 30px;
    width: 158px;
}
footer .wrapper2{
	border-radius: 100%;
    background: transparent;
    height: 40px;
    border: 2px solid rgba(0,0,0,0.5);
    width: 40px;
}
footer .iconFace {
    color: rgba(0,0,0,0.5);
    font-size: 18px !important;
}
footer .wrapper2:hover{
    border: 2px solid rgba(0,0,0,0.8);
    cursor: pointer;

	}
	footer .wrapper2:hover .iconFace{
    cursor: pointer;
    color: rgba(0,0,0,0.8) !important;

	}
/*	footer .iconFace :hover{
			color: rgba(0,0,0,0.8) !important;
			cursor: pointer;
		}*/
	.wrapper102.theBorder{
			border-top: 1px solid rgba(0,0,0,0.2);
			border-bottom: 1px solid rgba(0,0,0,0.2);
		    height: 45px;
	}
	.wrapper102 .adjustHeight{
		height: 29px;
	}
	.wrapper102 .style{
		font-size: 15px;
		color: #888888;
		margin-bottom: 0;
		transition: all 0.2s ;
	}
	.wrapper102 .style:hover{
		color: #333;
		cursor: pointer;
	}
	.classHeight{
		height: 100%;
	}
	.style104{
		font-size: 12px;
		color: #888888;
		margin-bottom: 0;
	}
	.arrowUp{
	    position: fixed;
	    top: 85%;
	    background: #333333;
	    z-index: 1000000000000000000;
	    right: 3%;
	    height: 52px;
	    border-radius: 3px;
	    width: 56px;
	    opacity: 0;
	    cursor: pointer;
	}
	.arrowUpIcon{
		color: white;
		font-size: 20px !important;
	}
	.someAnimtion{
		animation: someAnimtion .5s;
		animation-fill-mode: forwards;
	}
	@keyframes someAnimtion{
		0%{
			top:90%;
			opacity: 0;
		}
		100%{
			opacity: 1;
			top:85%;
		}
	}
	.someAnimtionOposite{
		animation: someAnimtionOposite .5s;
		animation-fill-mode: forwards;
	}
	@keyframes someAnimtionOposite{
		0%{
			top:85%;
			opacity: 1;
		}
		100%{
			opacity: 0;
			top:90%;
		}
	}
	@media only screen and (min-width:1500px){
		.sideMenu {
			width:20%;
		}
		.close2{
			right: 2%;
		}
	}
	.otherMargin{
		margin-top: 12.2rem ;
	}
	.img101{}
	.margin{}
	.theBackground{}
	.mainXS{}
	.margin106{}
	.body{}
	.changeImage{
		display: none;
	}
	.changeImage2{}
	.otherMargin2{
		margin-top: 1rem;
		
	}
	.bg-white{
		    background: white;
		    padding: 0.4rem;
	}
@media only screen and (max-width: 767px){
	
#logo{
		text-align: center;
	}
	.otherMargin2{
		margin-top: 1rem;
	}
	.changeImage{
		display: block;
	}
	.changeImage2{
		display: none;
	}
	.body{padding: 1% 1rem !important;}

	.bg-white{
		    background: white;
		    padding: 0;
	}
	#soccer .style {
    width: 16%;

	}
	footer .wrapper2 {
    height: 28px;

}
footer .iconFace {
    color: rgba(0,0,0,0.5);
    font-size: 12px !important;
}
	.arrowUp{
		visibility: hidden;
	}
	#header .giveBorder {
    border-bottom: none;
}
	#header {
		height: 50px;
	}
	.sideMenu{
		width: 100%;
	}
	.close1 {
    font-size: 2.5rem;
}
.search .search1{
	font-size: 29px;
}
	.otherMargin{
	    margin-top: 14.5% !important;

	}
	.mainNews .backgroundImage{
		height: 260px;
	}
	.mainNews .textStyle {
    	font-size: 21px;
    	margin-bottom: 1rem;
}
	.img101{
		width: 79%;
		height: 80px;
		margin-left: 5%;
	}
	#soccer .wrapper1 {
    position: absolute;
    left: 0px;
    top: 62%;
    width: 25px;
    background: #fe074e;
    text-align: center;
}
#media .wrapper3 {
    position: absolute;
    left: 0px;
    top: 62%;
    width: 23px;
    background: #fe074e;
    text-align: center;
}
#media .wrapper4{
    position: absolute;
    left: 6px;
    top: 65%;
    width: 23px;
    background: #fe074e;
    text-align: center;
}
.mainImage{
	margin-bottom: 0.8rem;
}
#soccer .wrapper75 {
    position: absolute;
    left: 0px;
    top: 62%;
    width: 25px;
    background: #fe074e;
    text-align: center;
}
	.mainImage .cam {
	    color: white;
	    font-size: 12px;

	}
	.margin{
		margin-bottom: 2%;
	}
	.theBackground{
		background: white;
		padding: 5% 0%;
	}
	#media .txtBorder {
    padding-bottom: 1.7%;
    border-bottom: 1px solid #fe074e;
}
#media .imageSize {
    width: 30%;
}
#media .txt1 {
    font-size: 16px;
}
#media .txt {
    font-size: 12px;
    }
    #media .cam5 {
    	font-size: 17px;
    }
    
    #media .padding {
    padding: 0% 4%;
}
.wrapper102.theBorder {
	height: 69px;
}
.wrapper102 .adjustHeight {
    height: 52px;
}

#media .txtStyle {
	padding-top: 1%;
   	border-top: 1px solid #EEEEEE;
}
}
.listSmall{
    position: absolute;
    top: 26%;
    left: 5%;
    list-style: none;

}
.listSmall1{
    position: absolute;
    top: 26%;
    right: 5%;
    list-style: none;

}
.modifyMargin{
	margin-bottom: 6%;
}
#media .somePadding{}
@media only screen and (max-width:370px){
			.otherMargin {
			    margin-top: 18% !important;
			}
			#media .individualWrapper{
				width:72px;
				padding-top: 0.3rem !important;

			}
			#media .styleTexts{
				font-size: 11.2px;
			}
			#media .somePadding{
				padding-left: 0rem !important;
				padding-right: 0.3rem !important;
			}
			.wrapper102.theBorder {
			    height: 105px;
			}
			.wrapper102 .adjustHeight {
   				 height: 71px;
}
	}
	@media only screen and (min-width:321px) and (max-width: 370px){
		.wrapper102.theBorder {
    		height: 61px;
		}
		.wrapper102 .adjustHeight {
   			 height: 50px;
		}
		.wrapper102 .style {
			padding-left: .25rem;
		}
}
.correctHeight{}
@media only screen and (min-width: 768px) and (max-width: 992px){
		#header .giveBorder {
    border-bottom:none;
}
		.correctHeight{
			height: 50px;
		}
		#header {
			height: 50px;
		}
		.otherMargin {
    		margin-top: 9rem;
}
		#media .txt1 {
		    font-size: 16px;
		    }
		#media .txt2 {
    		font-size: 13px;
    	}
    	#media .txt3 {
    font-size: 12px;
}
	#media .txt4 {
	    font-size: 12px;
		}
		#soccer .wrapper1 {
  			top: 73%;
	}
	#soccer .wrapper75 {
  			top: 73%;
	}
	#media .wrapper3 {
		top:77%;
	}
	#media .txt1-modified {
    font-size: 10px;
}
#media .txt {
    font-size: 12px;
    }
    #media .styleImage {
		height: 80px;
		width: 80px;

    }
    #media .individualWrapper{
				width:50px;
				padding-top: 0.3rem !important;

			}
			#media .styleTexts{
				font-size: 11.2px;
			}
			#media .somePadding{
				padding-left: 0rem !important;
				padding-right: 0.3rem !important;
			}
			#media .txtBorder {
			    padding-bottom: 1.2%;
			    border-bottom: 1px solid #fe074e;
}
.listSmall {
    position: absolute;
    top: 25%;
    left: -3%;
    list-style: none;
}
.close1 {
    font-size: 5.5rem;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
		  #media .individualWrapper{
				width:72px;
				padding-top: 0.3rem !important;

			}
			#media .styleTexts{
				font-size: 11.2px;
			}
			#media .somePadding{
				padding-left: 0rem !important;
				padding-right: 0.3rem !important;
			}
			#soccer .wrapper1 {
			    top: 81%;
			}
			#soccer .wrapper75 {
			    top: 81%;
			}
			#media .wrapper3 {
			    top: 83%;
			}
	}
@media only screen and (min-width: 321px) and (max-width: 400px){
	#soccer .txt1 {
		font-size: 0.8rem;
	}
		.otherMargin {
			    margin-top: 15.6% !important;
			}
			#media .individualWrapper{
				width:72px;
				padding-top: 0.3rem !important;

			}
			#media .styleTexts{
				font-size: 11.2px;
			}
			#media .somePadding{
				padding-left: 0rem !important;
				padding-right: 0.3rem !important;
			}
			.wrapper102.theBorder {
			    height: 105px;
			}
			.wrapper102 .adjustHeight {
   				 height: 49px;
}
	footer .wrapper2 {
    height: 31px;
}
footer .iconFace {
    color: rgba(0,0,0,0.5);
    font-size: 15px !important;
}

}
@media only screen and (min-width: 401px) and (max-width: 450px){
	footer .iconFace {
    color: rgba(0,0,0,0.5);
    font-size: 18px !important;
}

}
@media only screen and (max-width: 320px){
	#soccer .txt1 {
		font-size: 0.6rem;
	}
	#media .txt1 {
    font-size: 0.8rem;
}
}
.correctHeight{}
@media only screen and (min-width: 576px) and (max-width: 768px){
	
		
	.changeImage{
		display: none;
	}
	.changeImage2{
		display: block;
	}
	#soccer .wrapper1 {
    top: 87%;
}

}
@media only screen and (max-width: 992px){
	#media .color {
    background: #EEEEEE;
    width: 100%;
}
.justify-content-center {
		justify-content: left!important;
	}
	#headLines{
		    margin-left: 0.9rem;
	}
	#media .individualWrapper {
    width: 83px;
    padding-top: 0.3rem !important;
}
}
@media only screen and (min-width: 576px) and (max-width: 992px){
	
		
	#soccer .wrapper1 {
    top: 87%;
}

}
@media only screen and  (max-width: 576px){
	
		
#soccer .style {
    width: 12%;
}

}